* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik Mono One', sans-serif;
}

/****************HEADER**********/
header {
  position: fixed;
  top: 0;
  z-index: 500;
  text-align: right;
  width: 100%;
}

ul li {
  display: inline-block;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid grey;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
}

a:hover {
  color: blue;
}

/*********MAIN**********/
section {
  height: 100vh;
}

#top {
  background-color: red;
}

#middle {
  background-color: green;
}

#bottom {
  background-color: yellow;
}

/*immagine e testo*/
.container {
  position: relative;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  background-size: contain;
}

.content-image img{
  position: absolute;
  bottom: 30%;
  width: 100%;
}

.content-text {
  position: absolute;
  bottom: 20%;
  width: 100%;
  color: yellow;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.content-text h2 {
  font-size: 3vw;
}

.content-text.green {
  color: green;
}


